{% include 'header.html'   %}

 <div class="content">
     <div class="ui container mtb2">
         <div class="ui grid">
            <div class="sixteen wide column">
              <img src="/_/img/pomo1.jpg"/>
            </div>
            <div class="six wide column">
                <div class="ui one column grid">
                  <div class="column">
                      <div class="tip tbg1"><p class="blue">適合眼皮較薄、脂肪少次單眼皮、鴛鴦眼之人仕</p></div>
                      <div class="tip tbg2"><p class="blue">適合眼皮較薄、脂肪少次單眼皮、鴛鴦眼之人仕</p></div>
                      <div class="tip tbg3"><p class="blue">適合眼皮較薄、脂肪少次單眼皮、鴛鴦眼之人仕</p></div>
                    
                  </div>
                </div>
            </div>
             
             <div class="ten wide column">
              
            </div>
           
            
             
             
         </div>
         
         
     </div>
  
 </div>
    
 
{% include 'footer.html'   %}
