/******************************************************
* LAYOUT.SCSS
*	Main site layout styles go in this file.
*	Iclude styles for the site header and footer,
*	main body and sidebars, etc.
*	All styles for components/sections that are used
*	site wide.rt
\******************************************************/

.nop{padding:0!important;}
.mlr0{margin-left:0!important;margin-right:0!important;}
.bp1{padding-bottom:1rem!important;}
.mtb03{margin:0.3rem 0;}
.mt03{margin-bottom:0.3rem;}
.blue{color:#283587;}
.red{color:red;}
.unline{text-decoration:underline;}
.mtb2{margin-top:2rem!important;margin-bottom:2rem!important;}
.mtb08{margin:8px 0;}

.ui.container {
    width: 980px;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
    
}

.header{
    padding-top:15px !important;
    background:url('../img/header-bg.jpg') center center;
    background-size:100% auto;
    border-bottom:2px solid #224099;
}

.content{border-bottom:2px solid #224099;}
.ui.grid{padding-left:20px;padding-right:20px;}
.ui.grid.form-bor{margin-left:2rem;margin-right:2rem;}
.menu{padding-top:1rem;}
.menu>ul{width:100%;text-align:center;}
.menu>ul>li,.down-menu ul li{display:inline-block;list-style:none;text-align: center;}
.menu>ul>li{min-width:120px;}
.down-menu ul li{width:100%;}
.menu>ul>li>a{
    color:#605e5e;
    line-height:1.7rem;
    display:block;
    border:1px solid #ccccce;
  
    background:url('../img/tit-bgw.jpg') center;
    transition:0.3s;
}

.down-menu{position:relative;z-index:99;}
.down-menu ul{position:absolute;display:none;background-color:#fff;box-shadow: 0 0 15px rgba(0,0,0,.3);}
.down-menu ul li a{color:#605e5e;width:100%;
    line-height:1.7rem;
    display:block;
    white-space:nowrap;
    padding:0 15px;
    transition:0.3s;}
.down-menu:hover ul{display:block;}

.menu ul li a:hover,
.active{background:url('../img/tit-bg.jpg') center!important;color:#fff!important;border-color:#224099!important}

.promo{width:210px!important;left:-5rem;}
.promo li{width:100%}


.slider{margin-bottom:1.5rem;}
.tit-style{
    border-bottom:2px solid #224099; 
    
}
.tit-style span{
    display:inline-block;background:url('../img/tit-bg.jpg');background-size:100% 100%;color:#fff;padding:5px 10px;}

.move-cov,.move-cov1{position: relative;overflow:hidden;}
.move-cov div p,.move-cov1 div p{margin-top:0;margin-bottom:0;color:#fff;line-height:2rem;}
.move-cov div,.move-cov1 div{position:absolute;bottom:0;left:0;right:0;background-color:rgba(40,53,135,0.5);transition-duration: 0.3s;transition-timing-function: ease-out;}
.move-cov div{top:8.5rem;}
.move-cov:hover div{top:6.2rem;}
.move-cov1 div{top:15rem;}
.move-cov1:hover div{top:12rem;}

.share{position: relative;}
.share p{position:absolute;bottom:0;left:0;right:0;background:url('../img/tit-bg.jpg');line-height:2rem;width: 445px;text-align: center;color:#fff;}

.footer{margin-top:1rem;}
.icons{position:relative;}
.icons span{display:inline-block;width:17px;height:17px;background:url('../img/icons.jpg');position: absolute;}
.icons b{font-weight:300;padding-left:2rem;}
.tel{background-position:0 0;}
.mail{background-position:-17px 0!important;}
.cform{background-position:-34px 0!important;}
.add{background-position:-51px 0!important;}

.copyr{font-size:10px;}

.tip{width:340px;height:61px;margin-bottom:1rem;}
.tbg1{background:url('../img/tip2.png');}
.tbg2{background:url('../img/tip1.png');}
.tbg3{background:url('../img/tip3.png');}
.tip p{margin:0;line-height:80px;text-align:center;padding-left:30px;}

/*form set*/
.ui.checkbox input.hid {
    z-index: -1;
}
.form{padding:20px;}
.form-bor{border:1px solid #eee;border-radius:8px;background-color:#FAFAFA; -webkit-box-shadow:0 0 10px rgba(0,0,0,.1);  
  -moz-box-shadow:0 0 10px rgba(0,0,0,.1);  
  box-shadow:0 0 10px rgba(0,0,0,.1); }
.ui.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0px none;
    border: medium none;
    vertical-align: baseline;
    background-color:#2B3990;
    color:#fff;
    margin: 0px 0.25em 0px 0px;
    padding: 0.78571em 1.5em;
    line-height: 1;
    text-align: center;
    text-decoration: none;
   
    border-radius: 0.2857rem;
    box-shadow: 0px 0px 0px 1px transparent inset, 0px 0px 0px 0px rgba(39, 41, 43, 0.15) inset;
    -moz-user-select: none;
    transition: opacity 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s, box-shadow 0.1s ease 0s, background 0.1s ease 0s;
}
.ui.button:hover {
   opacity:0.9;
}
/*news
#grid div {padding:1px!important;}
#grid div img{border-radius:3px;}
 set*/

.grid-sizer,
.grid-item {
  width: 33.33%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}


/* clear fix */
#grid:after {
  content: '';
  display: block;
  clear: both;
}