/******************************************************
* MAIN.SCSS
*	Main site element styles go in this file.
*	Iclude styles for primary elements that are
*	used site wide (a, h1, p, body, etc).
\******************************************************/
*{
	box-sizing:border-box;
}
html {
	font:400 12px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	background:#fff;
	color:#666;
	background-image:-webkit-radial-gradient(100% 100%,center,#fff,#fff);
	background-image:radial-gradient(100% 100% at center,#fff,#fff)
}
body {
	margin:0
}
a {
	background:0 0;text-decoration:none;
}
a:active,a:hover {
	outline:0
}
b,strong {
	font-weight:700
}
img {
	max-width:100%;
	height:auto;
	box-sizing:border-box;
	border:0;
	vertical-align:middle
}
address,blockquote,dl,fieldset,figure,ol,p,pre,ul {
	margin:0;
    padding:0
}
h1,h2,h3,h4,h5,h6,p{
	margin:0.5rem 1rem 1.4rem 1rem;
    
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300;
	color:#605E5E;
	text-transform:none
}
p{line-height:1.4rem}